@use "../helpers" as *;

.badge{
  display: inline-flex;
  padding: fluid(4, 2) fluid(14, 10);
  font-size: px-to-rem(16);
  color: var(--color-light);
  background:
          linear-gradient(var(--color-dark-10), var(--color-dark-10)) padding-box,
          linear-gradient(
          45deg,
          var(--color-dark-15) 64%,
          var(--color-accent) 136%
          ) border-box;
  border: px-to-rem(1) solid transparent;
  border-radius: px-to-rem(6);

  @include laptop{
    border-radius: px-to-rem(4);
    font-size: px-to-rem(14);
  }
}