@use "../helpers" as *;

.blog-actions{
  &__list{
    display: flex;
    column-gap: px-to-rem(10);

    @include laptop{
      column-gap: px-to-rem(10);
    }
  }

  &__button{
    display: inline-flex;
    align-items: center;
    column-gap: px-to-rem(4);
    padding: px-to-rem(8) px-to-rem(16);
    font-family: var(--font-family-accent);
    color: var(--color-grey-60);
    background-color: var(--color-dark-10);
    border: var(--border);
    border-radius: px-to-rem(100);

    @include laptop{
      padding: px-to-rem(6) px-to-rem(12);
      column-gap: px-to-rem(2);
      font-size: px-to-rem(14);
    }

    &.is-active{
      svg * {
        fill: var(--color-red);
        stroke: var(--color-red);
      }
    }
  }

  &__icon-wrapper{
    --size: #{px-to-rem(24)};

    @include square(var(--size));

    display: flex;

    @include laptop{
      --size: #{px-to-rem(20)};
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
