@use "../helpers" as *;

.card{
  @include tablet-above{
    display: grid;
    grid-template-columns: 37.5% auto;
  }

  &__preview,
  &__body{
    padding: px-to-rem(80);

    @include laptop{
      padding: px-to-rem(60);
    }
  }

  &__preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: fluid(60, 20);
    padding-left: 0;

    @include tablet-above{
      border-right: var(--border);
    }

    @include tablet{
      padding-right: 0;
      padding-block: px-to-rem(50);
      border-bottom: var(--border);
    }

    &-main{
      display: grid;
      row-gap: fluid(50, 24);
    }

    &-icon{
      width: fluid(80, 50);
    }

    &-info{
      display: grid;
      row-gap: fluid(16, 6);

      &:has(.card__rating-view){
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
      }
    }
  }

  &__body{
    padding-right: 0;

    @include tablet{
      padding: px-to-rem(30) 0;
    }
  }

  &__grid{
    display: grid;

    &--2-col{
      grid-template-columns: repeat(2, 1fr);
      gap: fluid(30, 10);

      @include mobile{
        grid-template-columns: 1fr;
      }
    }

    &--2-col-alt{
      gap: px-to-rem(30) px-to-rem(20);

      @include laptop{
        gap: px-to-rem(24) px-to-rem(16);
      }

      @include mobile-above{
        grid-template-columns: auto 1fr;
      }
    }

    &--3-col{
      gap: fluid(50, 20) px-to-rem(20);

      @include laptop{
        column-gap: px-to-rem(16);
      }

      @include mobile-above{
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &--3-col-alt{
      grid-template-columns: repeat(3, 1fr);
      gap: fluid(50, 20) px-to-rem(20);

      @include laptop{
        column-gap: px-to-rem(16);
      }

      @include mobile{
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__cell{
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: fluid(20, 4);

    &:has(> *:only-child){
      justify-content: center;
    }

    &:has(.card__cell-link){
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
              'other link'
              'other link';
      align-items: center;
      column-gap: px-to-rem(20);
    }

    &:has(.card__cell-subtitle){
      padding: fluid(30, 20);
      row-gap: px-to-rem(4);

      @include laptop{
        row-gap: px-to-rem(2);
      }
    }

    &:not(.tile){
      @include mobile{
        grid-template: initial;

        .card__cell-link{
          grid-area: initial;
          margin-block: px-to-rem(10);
        }
      }
    }

    &--wide{
      grid-column: -1/1;
    }

    &--wide-on-mobile{
      @include mobile{
        grid-column: -1/1;
      }
    }

    &-image{
      width: 100%;
      height: fluid(332, 169);
      object-fit: cover;
      border-radius: px-to-rem(12);

      @include laptop{
        border-radius: px-to-rem(10);
      }
    }

    &-subtitle{
      font: inherit;
      color: inherit;
    }

    &-link{
      grid-area: link;
    }

    &-description{
      @include mobile{
        font-size: px-to-rem(14);
        font-weight: 400;
      }
    }
  }
}