@use "../helpers" as *;

.expandable-content{
  --initialMaxHeight: #{px-to-rem(500)};

  position: relative;
  overflow-y: hidden;

  &.is-expanded{
    &::before,
    .expandable-content__button{
      @include hide;
    }
  }

  &:not(.is-expanded){
    max-height: var(--initialMaxHeight);
  }

  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(180deg, rgba(20, 20, 20, 0.00) -98.48%, #141414 55.11%);
    pointer-events: none;
    transition-duration: var(--transition-duration);
  }

  &__button{
    @include abs-x;

    bottom: px-to-rem(68);
  }
}