@use "../helpers" as *;

.feedback-form{
  display: grid;
  gap: fluid(50, 20) px-to-rem(50);

  @include mobile-above{
    grid-template-columns: repeat(2, 1fr);
  }

  &__cell{
    &--wide{
      grid-column: -1/1;
    }
  }

  &__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

    @include mobile-s{
      flex-direction: column;
      row-gap: px-to-rem(20);
      align-items: stretch;
    }
  }

  &__submit-button{
    min-width: px-to-rem(137);

    @include laptop{
      min-width: px-to-rem(103);
    }
  }
}