@use "../helpers" as *;

.field{
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: px-to-rem(16);
  font-weight: 500;
  font-size: px-to-rem(18);
  color: var(--color-light);

  @include laptop{
    row-gap: px-to-rem(12);
    font-size: px-to-rem(16);
  }

  &__body{
    display: flex;
    column-gap: px-to-rem(16);
    width: 100%;

    @include laptop{
      column-gap: px-to-rem(12);
    }
  }

  &__required-star{
    color: var(--color-red);
  }

  &__control{
    width: 100%;
    height: px-to-rem(67);
    padding-inline: px-to-rem(20);
    color: var(--color-light);
    background-color: var(--color-dark-10);
    border: var(--border);
    border-radius: px-to-rem(8);

    @include laptop{
      height: px-to-rem(53);
      padding-inline: px-to-rem(16);
      border-radius: px-to-rem(6);
    }

    @include hover{
      border-color: var(--color-accent);
      box-shadow: var(--shadow);
    }

    &::placeholder{
      color: var(--color-dark-40);
    }

    &:user-invalid{
      border-color: var(--color-red);
    }
  }

  textarea.field__control{
    resize: vertical;
    min-height: px-to-rem(163);
    padding-block: px-to-rem(20);

    @include laptop{
      padding-block: px-to-rem(16);
    }

    @include mobile{
      min-height: px-to-rem(127);
    }
  }
}