@use "../helpers" as *;

.footer{
  color: var(--color-dark-40);

  &__body{
    padding-block: fluid(80, 40);
    border-bottom: var(--border);
  }

  &__menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    column-gap: fluid(80, 20);

    @include tablet{
      grid-template-columns: repeat(2, 1fr);
      row-gap: px-to-rem(40);
    }

    @include mobile{
      row-gap: px-to-rem(20);
    }

    &-column{
      display: grid;
      row-gap:  fluid(36, 16);

      &:last-child{
        @include tablet{
          grid-column: -1/1;

          .footer__menu-list{
            flex-direction: row;
            flex-wrap: wrap;
            gap:  px-to-rem(12);
          }
        }
      }
    }

    &-main-link{
      color: var(--color-light);
      font-weight: 500;
      line-height: 1.3;
    }

    &-list{
      display: flex;
      flex-direction: column;
      row-gap: fluid(18, 8);
    }

    &-item{
      display: flex;
      align-items: center;
      column-gap: px-to-rem(8);
    }
  }

  &__extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding-block: px-to-rem(40);

    @include laptop{
      padding-block: px-to-rem(24);
    }

    @include mobile{
      flex-direction: column;
      row-gap: px-to-rem(20);
    }

    &-menu{
      &-list{
        display: flex;
      }

      &-item:not(:last-child)::after{
        content: "|";
        margin-inline: px-to-rem(11);
        color:  var(--color-dark-15);
      }
    }
  }

  &__soc1als{
    @include mobile{
      order: -1;
    }
  }
}