@use "../helpers" as *;

.header{
  position: sticky;
  z-index: 100;
  top: 0;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: px-to-rem(100) px-to-rem(200);
  
  @keyframes scrolling-header {
    to{
      box-shadow: 0 0 1rem 0 var(--color-dark-40);
    }
  }

  &__promo{
    padding-block: px-to-rem(20);
    text-align: center;
    background-color: var(--color-dark);
    border-bottom: var(--border);

    @include mobile{
      padding-block: px-to-rem(14);
    }

    @include mobile-s{
      font-size: px-to-rem(12);
    }

    &-link{
      .icon{
        @include mobile-s{
          column-gap: px-to-rem(5);
        }
      }
    }
  }

  &__body{
    padding-block:  px-to-rem(24);
    background-color: var(--color-dark-10);

    @include mobile{
      padding-block:  px-to-rem(20);
    }

    &-inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
    }
  }

  &__overlay{
    @include mobile-above{
      display: contents;
    }

    @include mobile{
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 3rem;
      padding: 1rem;
      background-color: var(--color-dark-10);
      transition-duration:  var(--transition-duration);

      &:not(.is-active){
        @include hide;

        translate: 100%;
      }
    }
  }

  &__menu{
    @include mobile{
      overflow-y: auto;
    }

    &-list{
      display: flex;
      align-items: center;
      column-gap: px-to-rem(16);

      @include laptop{
        column-gap: px-to-rem(6);
      }

      @include mobile{
        flex-direction: column;
        row-gap: 1rem;
      }
    }

    &-link{
      padding: px-to-rem(14) px-to-rem(24);
      color: var(--color-grey-50);

      @include laptop{
        padding: px-to-rem(10) px-to-rem(18);
      }

      &.is-active{
        color: var(--color-light);
        font-weight: 500;
        background-color: var(--color-dark);
        border:  var(--border);
        border-radius: px-to-rem(10);
        pointer-events:  none;
      }
    }
  }

  &__contact-us-link{
    @include mobile{
      width: 100%;
      max-width: px-to-rem(300);
      align-self: center;
    }
  }
}