@use "../helpers" as *;

.hero{
  &__main{
    @include tablet-above{
      display: grid;
      grid-template-columns: 60% auto;
      grid-template-areas:
            'body resources-preview'
            'metrics resources-preview';
    }
  }

  &__body{
    grid-area: body;
    padding-top: px-to-rem(150);
    padding-right: px-to-rem(50);
    padding-bottom: px-to-rem(100);

    @include laptop{
      padding-top: px-to-rem(100);
      padding-right: px-to-rem(40);
    }

    @include tablet{
      padding-right: 0;
      padding-top: px-to-rem(40);
      padding-bottom: px-to-rem(30);
    }
  }

  &__subtitle{
    @include fluid-text(30, 18);

    font-family: var(--font-family-accent);
    font-weight: 500;
    color: var(--color-dark-40);

    &:not(:last-child){
      margin-bottom: px-to-rem(30);

      @include mobile{
        margin-bottom: px-to-rem(14);
      }
    }
  }

  &__title{
    &:not(:last-child){
      margin-bottom: px-to-rem(20);

      @include mobile{
        margin-bottom: px-to-rem(10);
      }
    }
  }

  &__metrics{
    grid-area: metrics;

    @include tablet-above{
      border-top: var(--border);
    }

    @include tablet{
      &::before{
        width: 100vw;
        right: calc(var(--container-padding-x) * -1);
      }
    }
  }

  &__resources-preview{
    grid-area: resources-preview;
    padding-left: px-to-rem(80);
    padding-bottom: px-to-rem(80);
    background:
            url("../../images/resources-preview/bg.png") 0 0/cover no-repeat;

    @include  laptop{
      padding-left: px-to-rem(50);
      padding-bottom: px-to-rem(50);
    }

    @include tablet-above{
      border-left: var(--border);
    }

    @include tablet{
      width: 100vw;
      padding: px-to-rem(100) px-to-rem(40) px-to-rem(40);
      margin-left: calc(var(--container-padding-x) * -1);
      background-image:  url("../../images/resources-preview/bg_tablet.png");
      background-size: contain;
    }
  }

  &__advantages{
    border-block: var(--border);

    &-list{
      @include tablet-above{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-item{
      --pzddingX: #{px-to-rem(80)};

      padding-block: px-to-rem(50);

      @include laptop{
        --pzddingX: #{px-to-rem(50)};

        padding-block: px-to-rem(40);
      }

      @include tablet-above{
        &:not(:first-child){
          padding-left: var(--pzddingX);
        }

        &:not(:last-child){
          padding-right: var(--pzddingX);
          border-right: var(--border);
        }
      }

      @include tablet{
        padding-block: px-to-rem(30);

        &:not(:last-child){
          border-bottom: var(--border);
        }
      }
    }


  }
}