@use "../helpers" as *;

.metrics{
  --columns: 3;

  &--4-col{
    --columns: 4;

    text-align: center;

    @include tablet-above{
      .metrics__item:nth-child(4n){
        padding-right: 0;
      }
    }

    @include tablet{
      --columns: 2;

      padding-inline: 0;

      .metrics__item{
        border-bottom: var(--border);

        &:nth-child(odd){
          padding-left: var(--container-padding-x);
        }

        &:nth-child(even){
          padding-right: var(--container-padding-x);
          border-right: none;
        }
      }
    }
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
  }

  &__item{
    display: flex;
    flex-direction: column-reverse;
    row-gap: px-to-rem(10);
    padding: px-to-rem(50);

    @include laptop{
      padding: px-to-rem(30) px-to-rem(40);
      row-gap: px-to-rem(2);

    }

    @include tablet{
      row-gap: 0;
      padding: px-to-rem(20);
    }

    @include mobile-s{
      justify-content: start;
    }

    &:first-child{
      padding-left: 0;
    }

    &:not(:last-child){
      border-right: var(--border);
    }
  }

  &__key{
    color: var(--color-grey-60);
  }

  &__value{
    font-weight: 600;
  }

  &__sign{
    color: var(--color-accent);
  }
}