@use "../helpers" as *;

.person-card{
  --imageSize: #{px-to-rem(80)};

  display: flex;
  align-items: center;
  column-gap: fluid(16, 8);

  @include laptop{
    --imageSize: #{px-to-rem(60)};
  }

  &__image{
    width: var(--imageSize);
    border-radius: 50%;
    background-color: var(--color-dark-15);
  }

  &__body{
    display: grid;

    @include laptop-above{
      row-gap: px-to-rem(2);
    }
  }

  &__name{
    color: var(--color-light);
    font-weight: 600;
    font-size: px-to-rem(20);

    @include laptop{
      font-size: px-to-rem(18);
    }
  }
}