@use "../helpers" as *;

.rating-view{
  display: inline-flex;
  column-gap: px-to-rem(7);
  padding: px-to-rem(10) px-to-rem(16);
  background-color: var(--color-dark);
  border-radius: px-to-rem(100);
  border: var(--border);

  @include laptop{
    column-gap: px-to-rem(4);
    padding: px-to-rem(8) px-to-rem(12);
  }

  &__star{
    --size: #{px-to-rem(24)};

    @include square(var(--size));

    background: url("../icons/star_gray.svg") center/contain no-repeat;

    &.is-active{
      background-image: url("../icons/star_yellow.svg");
    }

    @include laptop{
      --size: #{px-to-rem(20)};
    }
  }
}