@use "../helpers" as *;

.report-card{
  display: flex;
  flex-direction: column;
  row-gap: fluid(30, 20);
  height: 100%;

  &__image{
    width: 100%;
    height: px-to-rem(290);
    object-fit: cover;
    border-radius: px-to-rem(12);

    @include mobile{
      height: px-to-rem(223);
    }
  }

  &__body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: px-to-rem(14);

    @include laptop{
      row-gap: px-to-rem(10);
    }
  }

  &__actions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: px-to-rem(20);

    @include laptop{
      column-gap: px-to-rem(10);
    }
  }
}