@use "../helpers" as *;

.review-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: px-to-rem(60);
  max-width: px-to-rem(600);
  margin-inline: auto;

  @include laptop{
    row-gap: px-to-rem(50);
  }

  &__author{
    --imageSize: #{px-to-rem(60)};

    @include laptop{
      --imageSize: #{px-to-rem(50)};
    }
  }

  &__body{
    position: relative;
    padding: fluid(30, 20);
    padding-top: fluid(50, 30);
    color: var(--color-light);
    text-align: center;
  }

  &__rating-view{
    @include abs-center;

    top: 0;
  }
}