@use "../helpers" as *;

.tabs{
  &__header{
    border-bottom: var(--border);

    @include tablet{
      overflow-x: auto;
    }
  }

  &__buttons{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: px-to-rem(20);
    padding-block: fluid(50, 20);

    @include laptop{
      column-gap: px-to-rem(14);
    }

    @include tablet{
      width: max-content;
    }

    &--compact{
      display: inline-flex;
      column-gap: px-to-rem(10);
      padding: px-to-rem(10);
      background-color: var(--color-dark);
      border-radius: px-to-rem(10);

      .tabs__button{
        padding-block: px-to-rem(18);
        padding-inline: fluid(32, 13);

        &.is-active{
          background-color: var(--color-dark-15);
          font-weight: 400;
        }

        @include laptop{
          padding-block: px-to-rem(14);
        }
      }
    }
  }

  &__button{
    padding: fluid(30, 18) px-to-rem(10);
    color: var(--color-grey-60);
    background-color: transparent;
    border: var(--border);
    border-radius: px-to-rem(8);

    @include laptop{
      font-size: px-to-rem(14);
    }

    @include hover{
      color: var(--color-accent);
      border-color: var(--color-accent);
    }

    &.is-active{
      color: var(--color-light);
      font-weight: 500;
      background-color: var(--color-dark-10);
      pointer-events: none;
    }
  }

  &__content{
    &:not(.is-active){
      display: none;
    }

    &:focus-visible{
      outline-offset: -1rem;
    }
  }
}