@use "../helpers" as *;

.tile{
  padding: fluid(40, 24);
  background-color: var(--color-dark-10);
  border: var(--border);
  border-radius: px-to-rem(12);

  @include laptop{
    border-radius: px-to-rem(10);
  }
}