@use "../helpers" as *;

.video-card{
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: px-to-rem(30);
  height: 100%;

  @include laptop{
    row-gap: px-to-rem(20);
  }

  &__player{
    width: 100%;
  }

  &__body{
    display: grid;
    row-gap: fluid(10, 4);
    flex-grow: 1;
  }

  &__title{
    font-family: var(--font-family-base);
  }
}