@use "helpers" as *;

.container{
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden{
  @include visually-hidden;
}

.hidden-mobile{
  @include mobile{
    display: none !important;
  }
}

.visible-mobile{
  @include mobile-above{
    display: none !important;
  }
}

.full-vw-line{
  position: relative;

  &::before,
  &::after{
    position: absolute;
    width: calc((100vw - var(--container-width)) / 2);
    height: px-to-rem(1);
    background-color: var(--color-dark-15);
  }

  &--top{
    &::before{
      content: "";
      bottom: 100%;
    }
  }

  &--bottom{
    &::after{
      content: "";
      top: 100%;
    }
  }

  &--left{
    &::before,
    &::after{
      right: 100%;
    }
  }

  &--right{
    &::before,
    &::after{
      left: 100%;
    }
  }
}

.circle-icon{
  --circleSize: #{px-to-rem(52)};
  --circleMarginLeft: #{px-to-rem(20)};

  position: relative;
  min-height: var(--circleSize);
  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));

  @include laptop{
    --circleSize: #{px-to-rem(44)};
    --circleMarginLeft: #{px-to-rem(20)};
  }

  @include mobile{
    --circleSize: #{px-to-rem(40)};
  }

  &::after{
    @include square(var(--circleSize));
    @include abs-y;

    content: "";
    right: 0;
    background:
            url("../icons/arrow-top-right_black.svg") center no-repeat
            var(--color-accent);
    border-radius: 50%;
  }
}